# macOS system files
.DS_Store

# Python artifacts
__pycache__/
*.pyc
*.py[cod]
*.log
*.tmp
*.swp

# Model files
*.safetensors
*.bin

# Datasets and outputs
Base_BERT/MELDRaw/
Base_BERT/empatheticdialogues/
Base_BERT/empathetic_dialogues_results/*checkpoints*
Base_BERT/meld_results/*checkpoints*
Base_BERT/empathetic_dialogues_log/bert_error.log
Base_BERT/empathetic_dialogues_log/bert_output.log
*.csv
*.tsv
*checkpoints*
